body{
    background: skyblue;
    text-align: center;
}

h1{
    font-size: 60px;
    color: #000000;
}

button{
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 5px;
    color: rgb(132, 0, 255);
    margin-top: 1em;
    font-weight: bold;
}

#clock{
    color: red;
    padding:5px
}



